* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

#container, #works, #page, #about,#inputs {
  width: 100%;
  position: relative;
}
#container{
  height: 100vh;
}
#works{
  height: 100vh;
}
#page{
  height: 100vh;
}
#about{
  height: 100vh;
}
#inputs{
  height: 100vh;
}

#container .back-img {
  width: 100%;
  height: 100%;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#container .navbar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
#container .title h2{
  text-align: center;
  margin: auto;
}
#container .title .logo_img{
  align-items: center;
  text-align: center;
}
#container .title .logo2_img{
  position: absolute;
  margin-top: -10vw;
  margin-left: -32vh;
  z-index: 2;
}
#container .click_here{
  margin-left: 33vh;
  background-color: #bf8f83;
  height: 25vh;
  width: 50%;
  position: absolute;
}
#container .click_here .img_click{
  margin-left: -15vh;
  margin-top: -6vw;
}

.navbar ul {
  padding: 20px;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  padding: 0 14px;
  font-family: helvetica;
  font-size: 25px;
}

.navbar ul li a {

  text-decoration: none;
  color: peru;
}

.navbar ul li:hover a {
  color: white;
}

#works .second-img {
  width: 100%;
  height: 100%;
  
  background-image: url(./../img/faq.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  
}
#inputs .five-img {
  width: 100%;
  height: 100%;

  background-image: url(./../img/img3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  
}


#page .third-img {
  width: 100%;
  height: 100%;
  background-image: url(./../img/img1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#about .fourth-img {
  width: 100%;
  height: 100%;
  background-image: url(./../img/faq.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}


#container .title, #page .title, #about .title,#works .title{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;

}
#works .title h2{
  
  font-size: 40px;
}
#works .title h3{
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}
#works .title h4{
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
}

#about .title h2{
  
  font-size: 40px;
}

#about .title h3{
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}
#about .title b{
  color:black;
}
#about .title h4{
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
}

#container .title h2, #works .title h2, #page .title h2, #about .title h2 {
  color: white;
  font-family: helvetica;
  font-weight: 700;
  letter-spacing: 2px;
}
#container .click_here img{
  width: 1000;
  height: 600;
}

.back-img, .second-img, .third-img, .fourth-img, .five-img {
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  #container .title .logo2_img{
    margin-top: -30vw;
    margin-left: -28vh;
  }
  #container, #works, #page, #about,#inputs {
    width: 100%;
    position: relative;
  }
  #container{
    height: 120vh;
  }
  #works{
    height: 100vh;
  }
  #page{
    height: 100vh;
  }
  #about{
    height: 100vh;
  }
  #inputs{
    height: 100vh;
  }

  #container .title .logo2_img{
    position: absolute;
    margin-top: -35vw;
    margin-left: -28vh;
    z-index: 2;
  }
  
  #container .click_here{
    margin-top: 7vw;
    margin-left: -5px;
    background-color: #bf8f83;
    height: 25vh;
    width: 100%;
  }
  #container .click_here .img_click{
    margin-left: -30vh;
    margin-top: -28vw;
  }
  .navbar{
    margin-left: -100;
  }
}